<a href="https://colab.research.google.com/github/Abdul-Hannan96/Python-For-DataScience/blob/main/Week01-Introduction-to-python/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print("Data","Science","Mentorship","Program",end="-started-",sep="-")
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
celcius=float(input('Enter the temprature in Ceccius'))
faren=celcius*(9/5)+32

print(faren,'F')

Enter the temprature in Ceccius25
77.0 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
a=10
b=20

temp=a
a=b
b=temp

print(a)
print(b)

20
10

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
p1x=int(input('Enter x coordinate of 1st point'))
p1y=int(input('Enter y coordinate of 1st point'))
p2x=int(input('Enter x coordinate of 2nd point'))
p2y=int(input('Enter y coordinate of 2nd point'))


# to calculate distance b/w 2 points here is formula
distance = ((p2x - p1x)**2 + (p2y - p1y)**2)**0.5

print("Distance is",round(distance,2))

Enter x coordinate of 1st point0
Enter y coordinate of 1st point0
Enter x coordinate of 2nd point2
Enter y coordinate of 2nd point2
Distance is 2.83

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

Hint - si = (p * t * r)/100

In [ ]:
p=int(input('Enter principle amount'))
t=int(input('Enter time period'))
r=float(input('Enter interest rate'))

interest=(p*t*r)/100

print('Interest is',interest)

Enter principle amount5000
Enter time period4
Enter interest rate12
Interest is 2400.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
total_heads = int(input("Enter the total number of heads: "))
total_legs = int(input("Enter the total number of legs: "))

# Calculate the number of dogs' legs and the number of dogs
num_dog_legs = total_legs - (total_heads * 2)
num_dogs = num_dog_legs // 4

# Calculate the number of chickens
num_chickens = total_heads - num_dogs

# Check if the inputs result in a valid solution
if num_dogs < 0 or num_chickens < 0 or (num_dog_legs % 4 != 0):
    print("Invalid input. No valid solution exists.")
else:
    # Display the result
    print("Number of dogs:", num_dogs)
    print("Number of chickens:", num_chickens)

Enter the total number of heads: 12
Enter the total number of legs: 40
Number of dogs: 4
Number of chickens: 8

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

Hint - Thus, the sum of the squares of first n natural numbers =  n(n+1)(2n+1)/6

In [ ]:
n=int(input('Enter the number'))

result=(n*(n+1)*(2*n+1))/6

print(result)

Enter the number6
91.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

Hint - an = a + (n â€“ 1)d

In [ ]:
first_term=int(input('Enter 1st term'))
second_term=int(input('Enter 2nd term'))

n = int(input('Enter the value of n'))
# distance
d = second_term-first_term
an=first_term+(n-1)*d

print(an)

Enter 1st term5
Enter 2nd term10
Enter the value of n15
75

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
n1=int(input('Enter num1:'))
d1=int(input('Enter den1:'))
n2=int(input('Enter num2:'))
d2=int(input('Enter den2:'))

rn = n1*d2 + n2*d1
rd = d1*d2

print('{}/{}'.format(rn,rd))

Enter num1:13
Enter den1:17
Enter num2:22
Enter den2:11
517/187

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
import math

h_t=float(input('Enter Height of tank'))
l_t=float(input('Enter Length of tank'))
b_t=float(input('Enter Breadth of tank'))

h_g = float(input('height of glass'))
r_g = float(input('radius of the glass'))

vol_tank=h_t*l_t*b_t
vol_glass=3.14*r_g*r_g*h_g


print('No of glasses',math.floor(vol_tank/vol_glass))

Enter Height of tank10
Enter Length of tank19
Enter Breadth of tank10
height of glass5
radius of the glass2
No of glasses 30

In [ ]:

import math

h_t = float(input('height'))
b_t = float(input('breadth'))
l_t = float(input('length'))

h_g = float(input('height of glass'))
r_g = float(input('radius of the glass'))

vol_tank = h_t*b_t*l_t
vol_glass = 3.14*r_g*r_g*h_g

print('no of glasses',math.floor(vol_tank/vol_glass))

height10
breadth15
length25
height of glass35
radius of the glass5
no of glasses 1