<a href="https://colab.research.google.com/github/Abdul-Hannan96/Python-For-DataScience/blob/main/Week02-Python%20Data%20Types/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
# not adding index but printing tuples by i and j
[list ((i,j)) for i,j in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2,7000)
list1

# list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

# list1[2][2].append(7000) # at index 2 append 7000
# list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

# first way
# [[i,j] for i,j in zip(candy_list,no_of_items)]

for i,j in zip(candy_list,no_of_items):
  print(i,'->',j)

Jelly Belly -> 10
Kit Kat -> 20
Double Bubble -> 34
Milky Way -> 74
Three Musketeers -> 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
list1 = [1,2,3,4,5,6]

sum=0
result=[]

for i in list1:
  # 1+2+3+4...(iteration and sum on list1)
  sum=sum+i
  result.append(sum)

result

[1, 3, 6, 10, 15, 21]

In [ ]:
list1 = [1,2,3,4,5,6]

sum=0
result=[]
for i in list1:
    sum=sum+i
    result.append(sum)

result

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

-> iterate thorugh list i and extract number and iterate again j and compare with all other numbers

-> if number is saller or equal then add and append in list(i<=j)

In [ ]:
list1=[2,4,6,10,1]
L=[]

for i in list1:
  sum=0

  for j in list1:
    if i<=j:
      sum=sum+j

  L.append(sum)

L

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

L=[]
for i in num1:
  for j in num2:
    if i==j:
      L.append(i)

# sorted(L,reverse=False)

L.reverse()
L

[34, 89, 67]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
L=['1ac21', '23fg', '456', '098d','1','kls']

result=[]

for item in L:
  prod=1
  for char in item:
    if char.isdigit():
      prod=prod*int(char)

  result.append(prod)

# highest product values will come first
[i[1] for i in sorted(zip(result,L),reverse=True)]

['456', '23fg', '1ac21', 'kls', '1', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [ ]:
L=['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
# kth charaxcter
input='a'
result=[]

for i in L:
  result.extend(i.split(input))


print(result)

['C', 'mpusX', 'is', '', '', 'ch', 'nnel', 'for', 'd', 't', '-science', '', 'spir', 'nts.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [ ]:
L = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

# connect words
L1=["".join(i) for i in L]
# join on spaces
print(" ".join(L1))

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [ ]:
words = ['campusxIs', 'bestFor', 'dataScientist']

# index wise
for i in range(len(words)):
  # words wise
  for j in range(1,len(words[i])):
    if words[i][j].isupper():
      words[i]=words[i][:j]+' '+words[i][j:]

      break

print(words)

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [ ]:
L1=[1,2,3,4,5,1]
L2=[2,3,5,7,8]

L=[]

for i in L1:
  if i not in L:
    L.append(i)

for j in L2:
  if j not in L:
    L.append(j)

L

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [ ]:
L=[[1,2,3],[4,5,6],[7,8,9]]

result=[]

for i in L:
  result.append(max(i))

result

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
[[j+3*i for j in range(0,3)]for i in range(0,3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [ ]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

# values of i in rows
[[row[i] for row in matrix] for i in range (len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
[i for i in matrix for i in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

# i for j in matrix will extract rows and for i in j extract numbers
[i for j in matrix for i in j]

# second way of doing this
[i for i in matrix for i in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]