<a href="https://colab.research.google.com/github/Abdul-Hannan96/Python-For-DataScience/blob/main/Week02-Python%20Data%20Types/Task06_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def return_unique(L):
  result=[]

  for i in L:
    if i not in result:
      result.append(i)

  return result


return_unique([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
def sequence(s):
  result=[]

  for i in sorted(s.split('-')):
    result.append(i)

  return result

s=sequence('green-red-yellow-black-white')
print("-".join(s))

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
def upper_lower(s):
  upper=0
  lower=0

  for i in s:
    if i.isupper():
      upper=upper+1

    elif i.islower():
      lower=lower+1

    else:
      pass

  return upper,lower


x,y=upper_lower('CampusX is an Online Mentorship Program fOr EnginEering studentS.')
print('Upper alphabets',x)
print('lowerer alphabets',y)

Upper alphabets 9
lowerer alphabets 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
def is_even(L):
  res=[]

  for i in L:
    if i%2==0:
      res.append(i)

  return res

is_even([1, 2, 3, 4, 5, 6, 7, 8, 9])

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
def perfect_num(num):
  sum=0

  for i in range(1,num):
    # number dividend of itself
    if num%i==0:
      sum=sum+i


  return num==sum


perfect_num(6)

True

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# kwrgs is for keyword args
# we use ** when we have to pass key and its value pair
# here we used only one * because we have to update whole dictionary
def merge_dict(*kwargs):
  d={}

  for i in kwargs:
    # update dictionary by adding new dictionaries to existing
    d.update(i)

  return d

dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}

merge_dict(dict1,dict2,dict3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
def most_used(s):
  d={}

  for i in s.split():
    if i in d:
      d[i]=d[i]+1

    else:
      d[i]=1

  # max value occured in dict
  max_val=max(d.values())
  for i in d:
    # if value is max then print it
    if d[i]==max_val:
      print(i,'ocurred',d[i],'times')
      break

s='hello how are you i am fine thank you'
most_used(s)

you ocurred 2 times

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
import math

def histogram(L):

  min_bin = math.floor(min(L)/10)*10
  max_bin = math.ceil(max(L)/10)*10

  d={}

  for i in range(min_bin,max_bin,10):
    count=0

    for j in L:
      if i+1<=j<=i+10:
        count+=1

    # stored in dict as a string and its count
    d[str(i+1) + '-' + str(i+10)]=count

  return d



L=[13,42,15,37,22,39,41,50]
histogram(L)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
def shortest_distance(points, query):
    nearest_coordinate = None
    nearest_distance = None

    for point in points:
        x = point[0] - query[0]
        y = point[1] - query[1]

        # Euclidean distance
        distance = (x ** 2 + y ** 2) ** 0.5

        if nearest_distance is None or distance < nearest_distance:
            nearest_coordinate = point
            nearest_distance = distance

    return nearest_coordinate

points = [(2, 2), (3, 3), (4, 4)]
query = (0, 0)

nearest = shortest_distance(points, query)
print("Nearest to", query, "is", nearest)

Nearest to (0, 0) is (2, 2)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
def bow(text):
  bow={}

  for txt in text:
    for word in txt.split():
      if word in bow:
        bow[word]+=1

      else:
        bow[word]=1

  return bow


L = [
    'cat mat rat cat',
     'sat bat fat cat rat',
     'pat cat mat rat'
]
texts = ["This is the first text", "This is the second text", "And this is the third text"]
bag_of_words = bow(L)
bag_of_words2 = bow(texts)
print(bag_of_words)
print(bag_of_words2)

{'cat': 4, 'mat': 2, 'rat': 3, 'sat': 1, 'bat': 1, 'fat': 1, 'pat': 1}
{'This': 2, 'is': 3, 'the': 3, 'first': 1, 'text': 3, 'second': 1, 'And': 1, 'this': 1, 'third': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
L1 = [1,2,3]
L2 = [4,5,6]
L3 = [7,8,9]

list(map(lambda x,y,z:x+y+z,L1,L2,L3))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
list1 = [1,2,3,4,5,6]
# y is described as range -> nested loop
list(map(lambda x,y:x**y,list1,range(len(list1))))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
str1="FIFA world cup in 2022 will take place in Qatar"

list(filter(lambda x:True if x.lower() in set('aeiouAEIOU') else False,str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [ ]:
ini_list = [[1, 2, 3],
            [3, 6, 7],
            [7, 5, 4]]

import functools
# convert 2d to 1d
functools.reduce(lambda x,y:x+y,ini_list)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:


employees = [  {
    'emp_fname':'Asad',
    'emp_lname':'Ali',
    'emp_age':26,
    'Grade':'Highly skilled'


},

{
    'emp_fname':'Hamza',
    'emp_lname':'khan',
    'emp_age':24,
    'Grade':'semi-skilled'


},

{
    'emp_fname':'Usama',
    'emp_lname':'meer',
    'emp_age':25,
    'Grade':'skilled'


},
{
    'emp_fname':'Nasir',
    'emp_lname':'sultan',
    'emp_age':28,
    'Grade':'Highly skilled'


}]

In [ ]:
list(map(lambda x:x['emp_fname'] + ' ' + x['emp_lname'],list(filter(lambda x:True if x['Grade']=='Highly skilled' else False,employees))))

['Asad Ali', 'Nasir sultan']