<a href="https://colab.research.google.com/github/Abdul-Hannan96/Python-For-DataScience/blob/main/Week02-Python%20Data%20Types/Tuples_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

joined_tuples=[]

for tuples in test_list:

  if tuples in joined_tuples:
    # Check if the first element of the tuple is already in the new list
    joined_tuples[joined_tuples.index[tuples[0]]]+=tuples[1:]

  else:
    # If it is, then append the rest of the elements of the tuple to the existing tuple in the new list
    joined_tuples.append(tuples)

print(list(joined_tuples))

[(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
t = (1, 5, 7, 8, 10)

L=[]

# left utmost numbers outside the loop
L.append(t[0]*t[1])

# index wise loop excluding left and right multiplications
for i in range(1,len(t)-1):
  L.append(t[i]*t[i-1]+t[i]*t[i+1])

# Right utmost numbers outside the loop
L.append(t[-1]*t[-2])

print(tuple(L))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
t1 = (1,2,3,0)
t2 = (1,2,3,0)

for i,j in zip(t1,t2):
  if i==j:
    # variable declared first time in a loop
    flag=True

  else:
    flag=False

if flag:
  print('Tuples are same')

else:
  print('tuples are not same')

Tuples are same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

L=[0,0,0]

for i in list1:
  if type(i)==list:
    L[0]=L[0]+1

  elif type(i)==set:
     L[1]=L[1]+1

  elif type(i)==tuple:
     L[2]=L[2]+1

  else:
    pass

print('Lists->{}\nSets->{}\nTuples->{}'.format(L[0],L[1],L[2]))

Lists->2
Sets->2
Tuples->1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
students=[]
num=int(input('Enter the number of applicants'))

for i in range(num):
  print('Please enter the details of',i+1,'applicants')

  name=input("Enter the name of applicants")
  h_ed=input("Enter the higher education details")
  skill=input("Enter the primary skill")
  yog=input('Enter the year of graduation')

  # record keeping
  students.append((name,skill,h_ed,yog))

required_skill=input("Enter reuqired skill")
required_hed=input("Enter the required higher education details")
reuquired_yog=input('Enter the required year of graduation')

# checking records from list
for i in students:
  if i[1]==required_skill and i[2]==required_hed and i[3]==reuquired_yog:
    flag=True
    print("Candiadate found",i)

  else:
    print("No such candiate found")


if flag==False:
  print("No such candidate found")

Enter the number of applicants1
Please enter the details of 1 applicants
Enter the name of applicantshannan
Enter the higher education detailscs
Enter the primary skillpython
Enter the year of graduation2020
Enter reuqired skillsql
Enter the required higher education detailscs
Enter the required year of graduation2020
No such candiate found

# Set

###`Q1:` Write a program to find set of common elements in three lists using

1.   List item
2.   List item

sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

# operation will be on sets
arr1=set(ar1)
arr2=set(ar2)
arr3=set(ar3)

print("Output",list((arr1 & arr2)& (arr3)))

Output [80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
vowels=set('AEIOUaeiou')

str1=set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")

# intersection to find common alphabets -> in this case => vowels
print(str1&vowels)
print('No of vowels are',len(str1&vowels))

{'u', 'o', 'i', 'e', 'a', 'A'}
No of vowels are 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
str1 = "01010101010"

s=set(str1)

if len(s)==2:
  print("String is binary")

else:
  print("String is not binary")

String is binary

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
L=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s=set()

for i in L:
  if i in L:
    # update method is used in sets in place of append
    s.update(i)

print(s)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

# intersection
[item for item in lst1 if item in lst2]

[9, 11, 26, 28]

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

max_val=0
max_key=''

for i in test_dict:
  if max_val<len(set(test_dict[i])):
    # value correspond to key
    max_val=len(set(test_dict[i]))
    # key
    max_key=i

print(max_key,'->',max_val)

Best -> 3

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
res=[]

# split each word and compare
for i in test_str.split():
  if i in repl_dict:
    # if available then replace
    res.append(repl_dict[i])

  else:
    res.append(i)

print(" ".join(res))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
test_list = ["CampusX", 10]
key_list = ["name", "id"]

# loop will run on index -> used len for this purpose
n=len(test_list)
res=[]

# loop is after pause of 2 -> one is string then one is number
for i in range(0,n,2):
  # key and their values
  res.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})

print(res)

TypeError: ignored

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
L=[('A', 1), ('B', 2), ('C', 3)]

d={}
for i,j in L:
  # key and correspond values
  d[i]=[j]

print(d)

{'A': [1], 'B': [2], 'C': [3]}

In [ ]:
L = [('A', 1), ('B', 2), ('C', 3)]
d={}
for i,j in L: # j is key and d[i] is its values
  d[i]=[j]
print(d)

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
d= {'c': [3], 'b': [12, 10], 'a': [19, 4]}

sorted_d=sorted(d)
res={}

for i in sorted_d:
  # i is key and d[i] is its values
  res[i]=sorted(d[i])

print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}